{% extends 'base.html' %}

{% block header %}
    <h1>Short URL</h1>
{% endblock %}

{% block main %}
    <form class="container" method="POST">
        <label for="original_url">Оригинальный URL:</label><br>
        <input type="text" id="original_url" name="original_url" required><br>
        <label for="custom_short_id">Кастомный короткий ID (опционально):</label><br>
        <input type="text" id="custom_short_id" name="custom_short_id"><br><br>
        <button type="submit">Сократить URL</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
{% endblock %}
